//** https://www.realtimecolors.com/?colors=eceef2-0c121a-9ab7df-194785-3f8bef&fonts=Inter-Inter ***/

$text: #edeff3;
$background: #0b1018;
$primary: #9ab7df;
$secondary: #194885;
$accent: #3e8bef;
$tertiary: hsl(220, 19%, 94%, 5%);
